.head-for-all-hilongos {
  color: #1b96f8;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

.sub-head-hilongos {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  line-height: 1.1em;
}

.container-benefits-main-container {
  /* background-color: lightgray; */
  min-height: 60vh;
  overflow: hidden !important;
  margin-bottom: 5em;
}

.second-col-container {
  /* background-color: aliceblue; */
  min-height: 70vh;
  overflow: hidden;
}
.trusted-p-head-benefits {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2em;
}
.hilongos-connect-numbers-container {
  display: flex;
}
.blue-number-trusted {
  color: #1b96f8;
}
.hilongos-connect-numbers-container section {
  margin-right: 6em;
}
.background-image-here-benefits {
  width: 80vh;
  height: 80vh; /* Adjust the height as needed */
  overflow: hidden;
  display: grid;
  align-items: center;
}
.unique-background {
  position: relative;
  width: 100vh !important;
  height: 100vh !important; /* Adjust the height as needed */
  background: url("../images/whatsup.jpg") center/contain no-repeat;
  background-size: cover; /* Ensure the entire image fits without distortion */
  border-radius: 100%;
  overflow: hidden;
}

.unique-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  ); /* Adjust the gradient colors and opacity as needed */
  z-index: -1;
}
/* 
.third-col-container {
  position: absolute;
  background-color: #1b96f8;
  width: inherit;

  margin: 0 auto;
  display: flex;
  justify-content: center;
} */

/* UniqueCards.css */
.unique-card-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px; /* Adjust as needed */
  padding: 20px;
}

.unique-card {
  /* background-color: #f0f0f0;
  border: 1px solid #ddd; */
  padding: 20px;
  width: calc(33.33% - 20px); /* Adjust to achieve three cards in a row */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.unique-card {
  /* Your existing styles */

  /* Add animation styles */
  transition: transform 0.3s ease-in-out;
}

.unique-card:hover {
  transform: translateY(-5px); /* Adjust the amount of tilt/jump */
}
.unique-card {
  /* Your existing styles */

  transform: translateY(0); /* Initialize position */
  transition: transform 0.3s ease-in-out;
}

.unique-card.animated {
  transform: translateY(-5px); /* Adjust the amount of tilt/jump */
  transition: transform 0.3s ease-in-out;
}
