/* Header.css */
.hilongos-connect-logo {
  width: 2em;
}
.navbar-parent-img-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-parent-img-p p {
  margin: 0;
  font-family: "AR One Sans", sans-serif;
  font-weight: 900;
}

.hilongos-connect-connectspan {
  font-weight: 200 !important;
}

.nav-links-hilongos-connect {
  font-family: "Poppins", sans-serif !important;
}

.login-hilongos-connect {
  padding: 10px 30px !important;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  display: block;
  border: 0px;
  font-weight: 500;
  box-shadow: 0px 0px 14px -7px #54cdff;
  background-image: linear-gradient(
    45deg,
    #1b96f8 0%,
    #54cdff 51%,
    #1b96f8 100%
  );
  letter-spacing: 2px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-hilongos-connect:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.login-hilongos-connect:active {
  transform: scale(0.95);
}

.nav-links-hilongos-connect .nav-link-header {
  margin: auto 0.5em;
}

.nav-links-container-parent {
  justify-content: flex-end !important;
}
/* Header.css */
/* ... your existing styles ... */

.navbar {
  transition: opacity 0.3s;
  opacity: 1; /* Initially fully visible */
}

.navbar.fixed-top {
  opacity: 1; /* Keep it fully visible when fixed */
}

.navbar.initial-hide {
  opacity: 0; /* Initially fully transparent */
  pointer-events: none; /* Disable clicks when not visible */
}

/* Header.css */
/* ... your existing styles ... */

.navbar {
  position: fixed;
  top: -100px; /* Initially hide the Navbar above the viewport */
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: transparent; /* You can set the background color as needed */
  transition: top 0.3s;
}

.navbar.fixed-top {
  top: 0; /* Show the Navbar at the top when fixed */
  background-color: #fff; /* You can set the background color as needed */
}

.navbar.initial-hide {
  top: -100px; /* Keep it hidden when not fixed */
}

.nav-link-header-simple {
  position: relative;
  text-decoration: none;
  color: #333; /* Change the color to your preferred text color */

  /* Add underline style */
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;

  /* Transition for smooth animation */
  transition: border-color 0.3s ease-in-out;
}

.nav-link-header-simple::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #1b96f8; /* Change the color to your preferred underline color */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-link-header:hover {
  border-color: transparent; /* Hide the default underline */
}

.nav-link-header-simple:hover::before {
  width: 100%; /* Expand the underline on hover */
}

#navbar-box-shadow {
  box-shadow: 0 6px 30px 0 rgba(18, 23, 34, 0.233);
}
