.mediacard-main-container {
  display: flex;
  justify-content: space-around;
}

.button-pricing-hilongos {
  background: white;
  border-radius: 50px;
  color: #1b96f8;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  min-height: 40px;
  padding: 20px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  border: 0px;
  width: 100%;
}
.button-pricing-hilongos-side {
  background: rgba(27, 149, 248, 0.308);

  background: linear-gradient(
    0deg,
    rgba(27, 149, 248, 0.212) 0%,
    rgba(29, 182, 247, 0.295) 50%,
    rgba(0, 140, 255, 0.336) 100%
  );
  color: #1b96f8;
}

.button-pricing-hilongos:hover,
.button-pricing-hilongos:active {
  background-color: black;
  background-position: 0 0;
  color: white;
}
.button-pricing-hilongos-side:hover,
.button-pricing-hilongos-side:active {
  background: hsla(207, 94%, 54%, 1);

  background: linear-gradient(
    0deg,
    hsla(207, 94%, 54%, 1) 0%,
    rgb(29, 142, 247) 50%,
    hsla(207, 100%, 50%, 1) 100%
  );
  background-position: 0 0;
  color: white;
}

.button-pricing-hilongos:active {
  opacity: 0.5;
}

.professional-main-card {
  background: hsla(207, 94%, 54%, 1);

  background: linear-gradient(
    0deg,
    hsla(207, 94%, 54%, 1) 0%,
    hsla(198, 93%, 54%, 1) 50%,
    hsla(207, 100%, 50%, 1) 100%
  );
  padding: 2.5em;
  margin: 1.5em;
  border-radius: 20px;
}

.basic-main-card,
.enterprise-main-card {
  padding: 2.5em;
  margin: 1.5em;
  box-shadow: 0 20px 80px 0 rgba(18, 23, 34, 0.171);
  border-radius: 20px;
}
.first-media-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.most-popular-tag {
  background-color: gold;
  color: rgb(31, 31, 31);
  padding: 0.5em 1.5em;
  margin: 0px;
  border-radius: 6px;
  font-weight: 700;
}
.section-h2-main-head-text {
  font-weight: 900;
  color: white;
}
.section-h2-main-head-text-side {
  font-weight: 900;
}

.color-white-pricing-text {
  color: white;
}

.bold-price-hilongos h1 {
  font-weight: 900;
  font-size: 3.5em;
}
.bold-price-hilongos-side {
  font-weight: 900;
  font-size: 3.5em;
}
.span-m-price {
  font-weight: 900;
  font-size: 0.6em;
}
.span-price {
  font-weight: 900;
  font-size: 0.6em;
}
.no-credit-price-hilongos {
  text-align: center;
  margin-top: 1em;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.767);
}

.no-credit-price-hilongos-side {
  text-align: center;
  margin-top: 1em;
  font-size: 15px;
  color: rgba(117, 117, 117, 0.767);
}
/* Add this CSS code to your stylesheet */

.basic-main-card,
.professional-main-card,
.enterprise-main-card {
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.basic-main-card:hover,
.professional-main-card:hover,
.enterprise-main-card:hover {
  transform: scale(1.1); /* Increase the size on hover */
}
