/* YourComponent.css */
.head-for-all-hilongos-testimonials {
  color: #1b96f8;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: start;
}

.sub-head-hilongos-testimonials {
  font-size: 3em;
  font-weight: 700;
  text-align: start;
  line-height: 1.1em;
}

.testimonials-main-small {
  color: #1b96f8;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
}
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Equal gaps between items */
  margin: 0 auto; /* Center the grid horizontally */
  align-content: start; /* Align items at the start of the grid */
}

.testimonial-card {
  padding: 30px;
  box-shadow: 0 70px 104px -20px rgba(33, 55, 103, 0.123);
  overflow: hidden; /* Hide overflow content */
  border-radius: 20px;
}

.testimonial-card img {
  max-width: 50px; /* Adjust the max width of profile images */
  border-radius: 50%;
}

/* You can style the name, username, and feedback text as needed */
.testimonial-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.testimonial-card p {
  margin: 10px 0;
}

.section-first-testimonial-first-row {
  display: flex;
  align-items: center;
}

.font-weight-name-h3 {
  font-weight: 700;
}

.testimonial-p-font-size {
  font-size: 0.9em;
  color: #1b96f8;
}
.feedback-font-color {
  color: gray;
}
.testimonial-card {
  position: relative;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.testimonial-card:hover {
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg); /* Adjust the tilt angle as needed */
}
